/*---------------------- Syntax Highlighting -----------------------------*/
/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}

pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl .literal,
pre .id {
  color: #268bd2;
}

pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}

pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula {
  background: #eee8d5;
}



/* Typographics and layouts */

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  color: #252519;
  margin: 0; padding: 0;
}

a {color: #333}
a:visited {color: #555}
p {margin: 0 0 16px 0}
h1, h2, h3, h4, h5, h6 {margin: 16px 0 16px 0}
h3, h4, h5, h6 {margin-top: 12px}
table td {border: 0; outline: 0}

.docs {
  max-width: 500px;
  min-width: 500px;
  min-height: 5px;
  padding: 8px 16px 0 32px;
  vertical-align: top;
  text-align: left;
}

.docs p, .docs li {line-height:24px}

.docs pre {
  margin: 16px -16px 16px -32px;
  padding: 8px;
  background:#f7fff7;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-width:1px 0 1px 1px;
  overflow-x:auto;
}

.docs p code {
  background: #f7fff7;
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0 0.2em;
}

.octowrap {position: relative}

.octothorpe {
  font: 12px Arial;
  text-decoration: none;
  color: #454545;
  position: absolute;
  top: 3px;
  left: -20px;
  padding: 1px 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}

.docs:hover .octothorpe {opacity: 1}

.code {
  padding: 8px 8px 8px 30px;
  width: 100%;
  vertical-align: top;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
}
.code pre {
  margin-top: 0;
  margin-bottom: 0;
}

.code pre code, .docs pre code {
  font: 12px Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}

/* Index page */

#docco-index li {line-height: 24px}
#docco-index > h1 {margin: 16px 32px}
#docco-index > ul > li {list-style:none outside}
#docco-index > ul > li > p {
  color: #458;
  margin: 0;
}